@model UserDataModel
@using System.Security.Claims
<div class="container mt-3">
  <div class="row flex-md-row">
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/250x250?person" class="rounded mt-4" height="175px" width="175px">
        </div>
        <div class="card-body">
          <h3 class="card-title text-white">@Model.Name</h3>
          <p class="card-text text-white">@Model.Department</p>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">ID</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.ID</div>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">GPA</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.GPA</div>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">Credit</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.Credit</div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <p class="h3 border ms-5 py-1 px-2 mb-3 border-dark text-dark rounded">Exams</p>
        <table class="table ms-3 table-hover border border-dark table-primary rounded">
          <thead class="table-dark">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Info</th>
              <th scope="col">Time</th>
              <th scope="col">Point</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var exam in Model.Exams)
            {
              <tr>
                <th>@exam.Course</th>
                <th>@exam.Info</th>
                <th>@exam.Time</th>
                <th>@exam.Point</th>
              </tr>
            }
          </tbody>
        </table>
        <p class="h3 border ms-5 py-1 px-2 mb-3 border-dark text-dark rounded">Assignments</p>
        <table class="table ms-3 table-hover border border-dark table-primary rounded">
          <thead class="table-dark">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Name</th>
              <th scope="col">Deadline</th>
              <th scope="col">Point</th>
              <th scope="col">Info</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var assignment in Model.Assignments)
            {
              <tr>
                <th>@assignment.Course</th>
                <th>@assignment.Name</th>
                <th>@assignment.Deadline</th>
                <th>@assignment.Point</th>
                <th><a href="/Course/Assignment/@assignment.ID" class="btn btn-primary">View</a></th>
              </tr>
            }
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
