@model UserDataModel
@using System.Security.Claims
<div class="container mt-3">
  <div class="row flex-md-row">
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/250x250?person" class="rounded mt-4" height="175px" width="175px">
        </div>
        <div class="card-body">
          <h3 class="card-title text-white">@Model.Name</h3>
          <p class="card-text text-white">@Model.Department</p>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">ID</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.ID</div>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">GPA</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.GPA</div>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">Credit</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.Credit</div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <h1>Account info such as today's sessions and assignment info will go in this container</h1>
      </div>
    </div>
  </div>
</div>
