@model UserDataModel
@using System.Security.Claims
<div class="container mx-5 mt-5">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <div class="card bg-dark">
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/250x250?person" class="rounded mt-4" height="175px" width="175px">
        </div>
        <div class="card-body">
          <h3 class="card-title text-white">@(User.FindFirstValue(ClaimTypes.GivenName))</h3>
          <p class="card-text text-white">@Model.Department</p>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">ID</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.ID</div>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">GPA</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.GPA</div>
        </div>
         <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">Credit</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.Credit</div>
        </div>
      </div>
    </div>
    <div class="col-7"></div>
  </div>
</div>
