@model LecturerDataModel
@{
    Layout = "_LecturerLayout";
}
@using System.Security.Claims
<div class="container mt-3">
  <div class="row flex-md-row">
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/250x250?person" class="rounded mt-4" height="175px" width="175px">
        </div>
        <div class="card-body">
          <h3 class="card-title text-white">@Model.Name @Model.Surname</h3>
          <p class="card-text text-white">@Model.Department</p>
        </div>
        <div class="d-flex border-bottom border-dark">
          <div class="p-2 bg-secondary text-white border-end border-dark">ID</div>
          <div class="p-2 bg-secondary text-white flex-fill">@Model.ID</div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      @foreach (Course course in Model.Courses)
        {
            <div class="card bg-dark">
                <div class="card-body">
                    <h3 class="card-title text-white">@(course.CourseName)</h3>
                    <p class="card-text text-white">Course ID : @course.CourseID</p>
                </div>
                <div class="nav">
                    <div class="nav-item">
                        <a href="/Lecturer/CourseManager/@course.CourseID" class="nav-link btn btn-primary mx-3 mb-3 text-white fs-5">Info</a>
                    </div>
                </div>
                <div class="d-flex border-bottom border-dark">
                    <div class="p-2 bg-secondary text-white border-end border-dark" style="width:60px;">Credit</div>
                    <div class="p-2 bg-secondary text-white flex-fill">@course.Credit</div>
                </div>
            </div>
        }
    </div>
  </div>
</div>
