@model CourseInfoModel
<div class="container mx-5 mt-5">

    <div class="row flex-md-row">
        <div class="col-md-4 mb-2">
            <div class="card bg-dark mt-2">
                <div class="card-body">
                    <h3 class="card-title text-white">@(Model.CourseName)</h3>
                    <p class="card-text text-white">Course ID : @Model.CourseID</p>
                </div>
                <div class="d-flex border-bottom border-dark">
                    <div class="p-2 bg-secondary text-white border-end border-dark" style="width:60px;">Credit</div>
                    <div class="p-2 bg-secondary text-white flex-fill">@Model.Credit</div>
                </div>
                <div class="d-flex border-bottom border-dark">
                    <div class="p-2 bg-secondary text-white border-end border-dark" style="width:60px;">Score</div>
                    <div class="p-2 bg-secondary text-white flex-fill">@Model.Score</div>
                </div>
                <div class="d-flex border-bottom border-dark">
                    <div class="p-2 bg-secondary text-white border-end border-dark" style="width:60px;">Grade</div>
                    <div class="p-2 bg-secondary text-white flex-fill">@Model.Grade</div>
                </div>
            </div>
        </div>
        <div class="col-md-8 px-3">
                <p class="h3 ms-3 border-2 py-1 px-2 mb-3 mt-2 border-dark text-light rounded " style="background-color: rgb(33, 37, 41)">Exams</p>
            <table class="table ms-3 table-hover border border-dark table-primary rounded">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Info</th>
                        <th scope="col">Time</th>
                        <th scope="col">Point</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exam in Model.Exams)
                    {
                        <tr>
                            <th>@exam.Info</th>
                            <th>@exam.Time</th>
                            <th>@exam.Point</th>
                        </tr>
                    }
                </tbody>
            </table>

            <p class="h3 ms-3 border-2 py-1 px-2 mb-3 mt-4 border-dark text-light rounded " style="background-color: rgb(33, 37, 41)">Assignments</p>
            <table class="table ms-3 table-hover border border-dark table-primary rounded">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Point</th>
                        <th scope="col">Info</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assignment in Model.Assignments)
                    {
                        <tr>
                            <th>@assignment.Name</th>
                            <th>@assignment.Deadline</th>
                            <th>@assignment.Point</th>
                            <th><a href="/Course/Assignment/@assignment.ID" class="btn btn-primary">View</a></th>
                        </tr>
                    }
                </tbody>
            </table>
            
            <p class="h3 ms-3 border-2 py-1 px-2 mb-3 mt-4 border-dark text-light rounded " style="background-color: rgb(33, 37, 41)">Sessions</p>
            <table class="table ms-3 table-hover border border-dark table-primary rounded">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">SessionID</th>
                        <th scope="col">Watch</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var session in Model.Sessions)
                    {
                        <tr>
                            <th>@session.SessionID</th>
                            <th><a href="/Course/Session/@session.SessionID" class="btn btn-primary">Watch</a></th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
